header.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;

  width: 100%;
  padding: var(--padding);
}

header.header > .header__item {
  flex: 1;
}

header.header > .header__item:nth-child(2) {
  flex: 2;
}
