$color-white: #fff;
$color-white-1: #f3f3f3;
$color-white-2: #f9f9f9;

$color-black: #000;
$color-black-1: #202020;
$color-black-2: #272727;

// $colors: (
//   "white": $color-white,
//   "white-1": $color-white-1,
//   "white-2": $color-white-2,

//   "black": $color-black,
//   "black-1": $color-black-1,
//   "black-2": $color-black-2,
// );

// :export {
//   @each $key, $value in $colors {
//     #{unquote($key)}: $value;
//   }
// }
