:root {
  /* VARIABLES */
  /* Breakpoints */
  --bp-mobile: 400px;
  --bp-tablet: 800px;
  --bp-latop: 1024px;
  /* Colors */
  --color-black: #000000;
  --color-black-1: #202020;
  --color-black-2: #272727;
  --color-white: #fff;
  --color-white-1: #f3f3f3;
  --color-white-2: #f9f9f9;
  --color-gray-1: #454545;
  /* Spacing */
  --border-radius: 0.5em;
  --padding: 0.5em;
  --gap: 0.5em;
  --gap-1: 1em;

  /* ELEMENTS */
  --min-width: 320px;
  --background-color: var(--color-white-1);
  --background-color-page-content: var(--color-white-2);
  --background-color-nav-item: var(--color-white);
  --text-color: black;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-black-1);
    --background-color-page-content: var(--color-black-2);
    --background-color-nav-item: var(--color-gray-1);
    --text-color: white;
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
*[role="button"] {
  cursor: pointer;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
a:visited,
a:active {
  outline: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  min-width: var(--min-width);
  height: 100svh;
  background-color: unset;
}
header {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: row;

  height: calc(100svh - 50px);
}
main > nav {
  width: 70px;
}
main > article {
  flex: 1;
  border-top-left-radius: var(--border-radius);
  background-color: var(--background-color-page-content);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 420px) {
  main {
    flex-direction: column-reverse;
  }
  main > nav {
    min-width: var(--min-width);
    width: 100vw;
    height: 70px;
    overflow: hidden;
  }
  main > article {
    border-top-left-radius: 0px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 800px) {
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  /* border-radius: 20px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
