.container {
  width: 80%;
  margin: 0 auto;
}

.center{
  margin: 0 center;
}

.underline{
  border-bottom: 0.5px solid var(--border-color);
  width: fit-content;
}


@media screen and (max-width: 420px) {
  .container {
    width: 90%;
  }
}
